extends ../../layouts/login

block head
    link(rel="stylesheet", type='text/css' href="../../styles/main.scss")
    link(rel="stylesheet", type='text/css' href="../../components/login-container/login-container.scss")
    link(rel="stylesheet", type='text/css' href="../../styles/wrapper.scss")
    block own-links
        script(src='login.js')

block header
    p Войти

block content
    include components/login-form/login-form.pug

block footer
    include components/footer/footer.pug



