ul.nav
    li.nav-item
        a(href="src/pages/login/login.pug").nav-link Логин
    li.nav-item
        a(href="src/pages/registration/registration.pug").nav-link Регистрация
    li.nav-item
        a(href="src/pages/chats/chats.pug").nav-link Чаты
    li.nav-item
        a(href="src/pages/profile/profile.pug").nav-link Профиль
    li.nav-item
        a(href="src/pages/client-error/client-error.pug").nav-link Ошибка клиента
    li.nav-item
        a(href="src/pages/server-error/server-error.pug").nav-link Ошибка сервера
