extends ../../layouts/main

block head
    link(rel="stylesheet", type='text/css' href="../../styles/main.scss")

block body
    p Заглушка для чата

    p
        a(href='/profile') Профиль
    p
        a(href='/login') Выйти
