extends ../../layouts/main

block head
    link(rel='stylesheet', type='text/css' href='../../styles/main.scss')

block body
    p Заглушка для чата

    p
        a(href='../profile/profile.pug') Профиль
    p
        a(href='../client-error/client-error.pug') Страница ошибки клиента
    p
        a(href='../login/login.pug') Выйти
