@import 'src/styles/variables';

.profile-wrapper {
  display: flex;
  gap: 20px;
  height: 100%;
  min-width: 400px;

  &__left-panel {
    width: 65px;
    height: 100%;
    border-right: 1px solid $light-border;
    background-color: $light-background;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }

    .icon {
      height: 28px;
      width: 28px;
      background: url('../../static/svg/arrow.svg') no-repeat;
    }
  }

  &__main-panel {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
      max-width: 510px;
      width: 100%;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 100px;
      gap: 20px;

      #avatar-input {
        display: none;
      }

      .avatar {
        height: 130px;
        width: 130px;
        border-radius: 50%;
        cursor: pointer;
      }

      .img-plug {
        height: 130px;
        width: 130px;
        border-radius: 50%;
        background: $light-grey url('../../static/svg/img-plug.svg') no-repeat center;
        cursor: pointer;
      }

      p {
        font-weight: 500;
        font-size: 20px;
      }
    }

    .main-content {
      gap: 60px;
      display: flex;
      flex-direction: column;

      .form {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .field {
          display: flex;
          flex-direction: row;
          padding-bottom: 9px;
          margin-bottom: 0;

          &:not(:last-child) {
            border-bottom: 1px solid $light-border;
          }

          label {
            font-size: 13px;
            display: flex;
            align-items: center;
          }

          .input {
            margin-left: auto;

            input {
              font-size: 13px;
              margin-left: auto;
              border: 0;
              outline: 0;
              border-bottom: 1px solid $blue;

              &[disabled] {
                background-color: $white;
                color: $disabled-text;
                text-align: end;
                border: 0;
              }
            }
          }
        }
      }
    }

    .footer {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding-bottom: 10px;

      .footer-link {
        a {
          color: $blue;
          font-size: 13px;
          text-decoration: none;
          cursor: pointer;
        }

        &:last-child {
          a {
            color: $red;
          }
        }

        &:not(:last-child) {
          padding-bottom: 10px;
          border-bottom: 1px solid $light-border;
        }
      }
    }
  }
}
