extends ../../layouts/main

block head
    link(rel="stylesheet", type='text/css' href="../../styles/main.scss")
    link(rel="stylesheet", type='text/css' href="../../styles/wrapper.scss")
    link(rel="stylesheet", href="profile.scss")

block body
    div(class='wrapper')
        div(class='wrapper__header')
            p Алексей
        div(class='wrapper__main-container')
            form(class='form')
                div
                    label(for='email') Почта
                    input(type='text', name='email', id='email', value='test@test.com', disabled)

                div
                    label(for='login') Логин
                    input(type='text', name='login', id='login', value='alex', disabled)

                div
                    label(for='first_name') Имя
                    input(type='text', name='first_name', id='first_name', value='Алексей', disabled)

                div
                    label(for='second_name') Фамилия
                    input(type='text', name='second_name', id='second_name', value='Смолик', disabled)

                div
                    label(for='display_name') Имя в чате
                    input(type='text', name='display_name', id='display_name', value='Алекс', disabled)

                div
                    label(for='phone') Телефон
                    input(type='text', name='phone', id='phone', value='+375291111111', disabled)

            div(class='wrapper__footer')
                div
                    a(href='') Изменить данные
                div
                    a(href='') Изменить пароль
                div
                    a(href='/login') Выйти

