extends ../../layouts/main

block head
    link(rel='stylesheet', type='text/css' href='../../styles/main.scss')
    link(rel='stylesheet', href='profile.scss')
    script(src='profile.ts', type='module')

block body
    div(class='wrapper')
        div(id='backPanel', class='wrapper__left-panel')
            .icon
        div(class='wrapper__main-panel')
            div(class='container')
                div(class='header')
                    p Алексей
                div(class='main-content')
                    form(id='profileForm', class='form')
                        .row
                            label(for='email') Почта
                            .input
                                input(type='text', name='email', id='email', value='test@test.com', disabled)
                                p(id='emailError', class='error-text')

                        .row
                            label(for='login') Логин
                            .input
                                input(type='text', name='login', id='login', value='alex', disabled)
                                p(id='loginError', class='error-text')

                        .row
                            label(for='first_name') Имя
                            .input
                                input(type='text', name='first_name', id='first_name', value='Алексей', disabled)
                                p(id='firstNameError', class='error-text')

                        .row
                            label(for='second_name') Фамилия
                            .input
                                input(type='text', name='second_name', id='second_name', value='Смолик', disabled)
                                p(id='secondNameError', class='error-text')

                        .row
                            label(for='display_name') Имя в чате
                            .input
                                input(type='text', name='display_name', id='display_name', value='Алекс', disabled)
                                p(id='displayNameError', class='error-text')

                        .row
                            label(for='phone') Телефон
                            .input
                                input(type='text', name='phone', id='phone', value='+375291111111', disabled)
                                p(id='phoneError', class='error-text')

                    .footer(id='footer')
                        .footer-link
                            a(id='changeDataBtn', href='#') Изменить данные
                        .footer-link
                            a(href='#') Изменить пароль
                        .footer-link
                            a(href='../login/login.pug') Выйти

                    .save-button-container(id='saveBtnContainer')
                        button(id='saveBtn' class='primary-btn', type='button') Сохранить
