@import 'src/styles/variables';

.wrapper {
  display: flex;
  gap: 20px;
  height: 100%;
  min-width: 400px;

  &__left-panel {
    width: 65px;
    border-right: 1px solid $light-border;
    background-color: $light-background;
  }

  &__main-panel {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
      max-width: 510px;
      width: 100%;
    }

    .header {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-weight: 500;
        font-size: 20px;
      }
    }

    .main-content {
      gap: 60px;
      display: flex;
      flex-direction: column;

      .form {
        display: flex;
        flex-direction: column;
        gap: 8px;

        div {
          display: flex;
          padding-bottom: 9px;

          &:not(:last-child) {
            border-bottom: 1px solid $light-border;
          }

          label {
            font-size: 13px;
          }

          input {
            font-size: 13px;
            margin-left: auto;
            border: 0;
            outline: 0;
            text-align: end;

            &[disabled] {
              background-color: $white;
              color: $disabled-text;
            }
          }
        }
      }
    }

    .footer {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding-bottom: 10px;

      div {
        &:not(:last-child) {
          padding-bottom: 10px;
          border-bottom: 1px solid $light-border;
        }

        &:last-child {
          a {
            color: $red;
          }
        }

        a {
          color: $blue;
          font-size: 13px;
          text-decoration: none;
        }
      }
    }
  }
}

