@import 'src/styles/variables';

.chats-container {
  overflow: auto;

  .chat-wrapper {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid $light-border;

    &:hover {
      background-color: $blue-background;
      cursor: pointer;
    }

    .img-plug {
      background: $light-grey;
      width: 47px;
      height: 47px;
      border-radius: 50%;
    }

    .avatar {
      width: 47px;
      height: 47px;
      border-radius: 50%;
    }

    .msg-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 5px;

      .info {
        display: flex;
        align-items: center;

        .name {
          font-size: 13px;
          font-weight: 600;
          margin-bottom: 4px;
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 180px;
          white-space: nowrap;
        }

        .time {
          margin-left: auto;
          font-weight: 500;
          font-size: 9px;
          color: $disabled-text;
        }
      }

      .msg {
        flex: 1;
        display: flex;

        .msg__text {
          width: 85%;
          font-size: 12px;
          font-weight: 500;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;

          .main {
            color: $disabled-text;
          }
        }

        .count {
          min-width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 11px;
          background: $blue;
          border-radius: 10px;
          color: $white;
          margin-top: auto;
          margin-left: auto;

          div {
            padding: 5px;
          }
        }
      }
    }
  }
}
