// colors
$blue: #3369f3;
$disabled-text: #999;
$light-border: #eaeaea;
$light-background: #fbfbfb;
$red: #f00;
$white: white;
$black: black;
$light-grey: #efefef;
$grey-background: #f8f8f8;
$blue-background: #e4edfd;
$shadow: rgb(0 0 0 / 14%);
$popup-shadow: rgb(0 0 0 / 70%);
$modal-window-background: rgba(0 0 0 / 40%);
