// colors
$blue: #3369f3;
$disabled-text: #999;
$light-border: #eaeaea;
$light-background: #fbfbfb;
$red: #f00;
$white: white;
$light-grey: #efefef;
$hover-background: #e4edfd;
$grey-background: #f8f8f8;
$blue-background: #e4edfd;
