form(id='loginForm', class='form')
    .fields
        .field
            label(for='login') Логин
            input(type='text', name='login', id='login')
            p(id='loginError', class='error-text')
        .field
            label(for='password') Пароль
            input(type='password', name='password', id='password')
            p(id='passwordError', class='error-text')

    button(id='loginButton' class='submit-btn primary-btn', type='button') Авторизоваться
