@import 'src/styles/variables';

.chats-wrapper {
  display: flex;
  height: 100%;
  min-width: 700px;

  &__left-panel {
    min-width: 310px;
    width: 310px;
    height: 100%;
    background-color: $light-background;
    border-right: 1px solid $light-border;
    display: flex;
    flex-direction: column;

    .header-container {
      padding: 0 10px;

      .header {
        height: 100px;
        display: flex;
        flex-direction: column;
        padding: 15px 0;
        border-bottom: 1px solid $light-border;

        &__profile-links {
          font-size: 12px;
          display: flex;

          .add-chat {
            color: $disabled-text;
            cursor: pointer;
          }

          a {
            margin-left: auto;
            color: $disabled-text;
            text-decoration: none;
          }

          .action:hover {
            color: $black
          }
        }

        &__search {
          margin-top: auto;

          input {
            width: 100%;
            height: 32px;
            border-radius: 5px;
            border: 0;
            background: $light-grey url('../../static/svg/search-icon.svg') no-repeat 10px center;
            padding-left: 30px;

            &::placeholder {
              color: $disabled-text;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }

  &__right-panel {
    height: 100%;
    flex: 1;
    min-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
