extends ../../layouts/main

block head
    link(rel='stylesheet', type='text/css' href='../../styles/main.scss')
    link(rel='stylesheet', type='text/css' href='chats.scss')
    script(src='chats.ts', type='module')

block body
    .wrapper(id='chatWrapper')
        .wrapper__left-panel
            .header-container
                .header
                    .header__profile-link
                        a(href='../profile/profile.pug') Профиль >
                    .header__search
                        input(type='text', placeholder='Поиск')
            .chats-container(id='chats')
        .wrapper__right-panel(id='messageWindow')
