form(id='registrationForm', class='form')
    .fields
        .field
            label(for='email') Почта
            input(type='text', name='email', id='email')
            p(id='emailError', class='error-text')
        .field
            label(for='login') Логин
            input(type='text', name='login', id='login')
            p(id='loginError', class='error-text')

        .field
            label(for='first_name') Имя
            input(type='text', name='first_name', id='first_name')
            p(id='firstNameError', class='error-text')

        .field
            label(for='second_name') Фамилия
            input(type='text', name='second_name', id='second_name')
            p(id='secondNameError', class='error-text')

        .field
            label(for='phone') Телефон
            input(type='text', name='phone', id='phone')
            p(id='phoneError', class='error-text')

        .field
            label(for='password') Пароль
            input(type='password', name='password', id='password')
            p(id='passwordError', class='error-text')

        .field
            label(for='password2') Пароль (ещё раз)
            input(type='password', name='password2', id='password2')
            p(id='password2Error', class='error-text')

    button(id='registerButton' class='submit-btn primary-btn', type='button') Зарегистрироваться
